# for linux kernel support optee
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(LINUX_DIR)/arch/arm64/configs/phytium_optee.config"

BR2_PACKAGE_PHYTIUM_OPTEE=y

BR2_PACKAGE_PHYTIUM_OPTEE_CUSTOM_REPO_URL="https://gitee.com/phytium_embedded/phytium-optee.git"
BR2_PACKAGE_PHYTIUM_OPTEE_CUSTOM_REPO_VERSION="v3.2"
BR2_PACKAGE_PHYTIUM_OPTEE_BOARD="e2000qdemo"
