# jailhouse
BR2_PACKAGE_JAILHOUSE=y

# jailhouse helper scripts
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_JAILHOUSE_HELPER_SCRIPTS=y

# kernel patch for e2000, kernel version of 4.19 and 5.10
BR2_LINUX_KERNEL_PATCH="$(LINUX_PKGDIR)/kernel-patches/jailhouse/0001-modify-the-dts-of-e2000-linux-kernel-to-reserve-memo.patch"
