# kernel 5.10
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="kernel-5.10_v2.2"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(LINUX_DIR)/arch/arm64/configs/phytium_debug.config"
BR2_LINUX_KERNEL_NEEDS_HOST_PAHOLE=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_LINUX_KERNEL_DEBUG_TOOLS_INSTALL_TARGET=y
BR2_PACKAGE_ELFUTILS=y
BR2_PACKAGE_BINUTILS=y
BR2_PACKAGE_READLINE=y
