# kernel patch for e2000q\phytiumpi\d2000\ft2004, kernel version of 4.19 and 5.10
BR2_LINUX_KERNEL_PATCH="$(LINUX_PKGDIR)/kernel-patches/openamp/0001-modify-the-dts-of-e2000q-and-phytiumpi-to-enable-hom.patch"

# rpmsg-demo
BR2_PACKAGE_RPMSG_DEMO=y

# free-rtos openamp
BR2_PACKAGE_PHYTIUM_FREE_RTOS=y
BR2_PACKAGE_PHYTIUM_FREE_RTOS_CPU_NAME="e2000q"
