BR2_ROOTFS_POST_SCRIPT_ARGS="-c board/phytium/genimage-sd.cfg"

BR2_LINUX_KERNEL_IMAGEGZ=y

BR2_PACKAGE_PHYUBOOT=y
BR2_PACKAGE_PHYUBOOT_RAMSIZE="4GB"

# Serial port config
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# Bluetooth config tools
BR2_PACKAGE_PHYTIUM_TOOLS=y

# Filesystem
BR2_TARGET_ROOTFS_EXT2_SIZE="5G"

# phytiumpi does not neet these tools to create the microSD image
BR2_PACKAGE_HOST_DOSFSTOOLS=n
BR2_PACKAGE_HOST_MTOOLS=n
